{{define "content"}}
        <div id="page-wrapper">
                <!-- Insert your webpage in between here 
                 However the div isn't needed, but it is recommended.
                -->
                <div align="center">
                	<form action="/api/v2/Schedule/Calendar">
                	  Enter name of the person whose schedule you want:<br>
                	  <input type="text" name="name">
                	  <br>
                	  <input type="submit" value="Submit">
                	</form>
                </div>
        </div>
{{end}}