{{define "content"}}
<link href="http://127.0.0.1:30000/static/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
<script src="http://127.0.0.1:30000/static/js/bootstrap-multiselect.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#modules-dropdown').multiselect({
            enableFiltering: true,
            enableFullValueFiltering: true
        });
    });

    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    });
</script>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>New role
                    <small>Add a new role</small>
                    </h1>
            </div>
        </div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label data-toggle="tooltip" data-placement="top" title="Name of role" class="col-lg-1 control-label">Role name:</label>
                <div class="col-lg-3">
                    <input class="form-control" value="" type="text">
                </div>
            </div>
            <div class="form-group">
                <label data-toggle="tooltip" data-placement="top" title="Role description" for="description" class="col-lg-1 control-label">Description:</label>

                <div class="col-lg-3">
                    <textarea class="form-control" rows="3" id="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label data-toggle="tooltip" data-placement="top" title="Choose the modules you want the role to access" class="col-lg-1 control-label">Modules:</label>
                <div class="col-lg-3">
                    <select id="modules-dropdown" multiple="multiple">
                        <option value="module1">Module 1</option>
                        <option value="module2">Module 2</option>
                        <option value="module3">Module 3</option>
                        <option value="module4">Module 4</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label"></label>
                <div class="col-md-8">
                    <input class="btn btn-primary" value="Save Changes" type="button">
                    <span></span>
                    <input class="btn btn-default" value="Cancel" type="reset">
                </div>
            </div>
        </form>
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
{{end}}